server {
    listen 80;
    server_name $DOMAIN www.$DOMAIN;
    root $ROOT_DIR/homepage;
    index index.html index.php;

    location / {
        try_files $uri $uri/ /index.html;
    }
}

server {
    listen 80;
    server_name install.$DOMAIN;
    root $ROOT_DIR/integrations/install;
    index index.php;

    location / {
        try_files $uri /index.php?$query_string;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:$php_fpm_sock;
    }
}

server {
    listen 80;
    server_name api.$DOMAIN;
    root $ROOT_DIR/integrations/api;
    index index.php;

    location / {
        try_files $uri /index.php?$query_string;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:$php_fpm_sock;
    }
}

server {
    listen 80;
    server_name cdn.$DOMAIN;
    root $ROOT_DIR/integrations/cdn;
    index index.php;

    location / {
        try_files $uri /index.php?$query_string;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:$php_fpm_sock;
    }
}

server {
    listen 80;
    server_name voting.$DOMAIN;
    root $ROOT_DIR/integrations/voting;
    index index.php;

    location / {
        try_files $uri /index.php?$query_string;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:$php_fpm_sock;
    }
}

server {
    listen 80;
    server_name payment.$DOMAIN;
    root $ROOT_DIR/integrations/payment;
    index index.php;

    location / {
        try_files $uri /index.php?$query_string;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:$php_fpm_sock;
    }
}

server {
    listen 80;
    server_name ~^(?<world>[a-z0-9-]+)\.$DOMAIN$;
    root $ROOT_DIR/servers/$world/public;
    index index.php;

    location / {
        try_files $uri /index.php?$query_string;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:$php_fpm_sock;
    }
}
